h1 {
  font-family: "Times New Roman", sans-serif;
	font-size: 50px;
  color: #F54927;
}

p {
  font-size: 50px;
	font-family: "Optima", sans-serif;
  background-color: #F5F1E8;
  color: #212121;
	margin: 0;
	padding: 0;
  text-align: left; /* has aligned body text in my pages to left */
}


