{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head_extra %}
<script type="text/javascript" src="{{ url_for('static', filename='jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<mark class="announcement">
  <strong>Sign up to a membership today and get 10% off using code LAUNCH10
  <button id="button">Sign up!</button>
</strong>
</mark>
<!-- <h1>Welcome to UU Fakegym</h1> -->
<!-- <p>Welcome to the home page (placeholder).</p> -->
<h1 id="header-one">WORK. TRAIN. PLAY.</h1>
<h2 id="header-two">It never gets easier. You just get stronger.</h2>
<h2 class="h2what">What's going on at Platinum Fitness</h2>
<section class="gallery">
  <figure class="column">
    <img class="gym-img" src="{{ url_for('static', filename='gym2.jpeg') }}" width="400" height="300" alt="gym equipment on a gym floor as sun shines through the window" style="opacity: 1; transition: opacity 0.5s;">
    <!-- <div class="gym-text" style="display: none;">Morning Classes</div> -->
  </figure>
  <figure class="column">
    <img class="gym-img" src="{{ url_for('static', filename='gym3.jpg') }}" width="400" height="300" alt="man lifting bar bell from a gym floor" style="opacity: 1; transition: opacity 0.5s;">
    <!-- <div class="gym-text" style="display: none;">Morning Classes</div> -->
  </figure>
  <figure class="column">
    <img class="gym-img" src="{{ url_for('static', filename='gym4.jpg') }}" width="400" height="300" alt="man lifting bar bell from a gym floor" style="opacity: 1; transition: opacity 0.5s;">
   <!-- <div class="gym-text" style="display: none;">Morning Classes</div> -->
  </figure>
</section>

<div class="cards-container">
  <article class="contact-card gallery">
    <strong>Morning Classes</strong>
  </article>
  <article class="contact-card gallery">
    <strong>Personalised Service</strong>
  </article>
  <article class="contact-card gallery">
    <strong>Free Hydration</strong>
  </article>
</div>

<h2 class="h2about">Learn More About Platinum Fitness</h2>

<script>
  /* document.querySelectorAll('.gym-img').forEach((image) => {
    const text = image.nextElementSibling;

    image.onmouseover = function () {
      image.style.opacity = 0.5;
      text.style.display = 'block';
    }

    image.onmouseout = function () {
      image.style.opacity = 1;
      text.style.display = 'none';
    }
  }); */

  document.getElementById("button").onclick = function () {
    window.location.href = "{{ url_for('membership') }}";
  };
</script>


{% endblock %}
